#slider slider(to do)

#icons
  .container
    %ul
      %li
        %div icon1
      %li
        %div icon2
      %li
        %div icon3
      %li
        %div icon4

#offers
  .container ostatnie 3 oferty

#motto
  .container motto